@media (min-width: 970px){
	.affix {
		margin-top: -565px;
		z-index: 100;
	}
}

@media (max-width: 970px){
	.affix {
		position: static;
	}
}

.right-col {
	min-height: 1000px;	
}

.panel-heading .accordion-toggle:after {
	/* symbol for "opening" panels */
	font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
	content: "\e114";    /* adjust as needed, taken from bootstrap.css */
	float: left;        /* adjust as needed */
	color: grey;         /* adjust as needed */
	padding-right: 10px;
}
.panel-heading .accordion-toggle.collapsed:after {
	/* symbol for "collapsed" panels */
	content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.panel-group {
   user-select: none;
}

textarea {
	resize: none;
}

.glyphicon-trash{
	font-size: 2em;
}

.prompt_field_list{
	width: 250px;
}

body {
	padding-bottom: 500px;
}

.remove_prompt_button:hover, .remove_survey_button:hover, .close_popover_button:hover{
	color: red;
}

.ui-helper-hidden-accessible {
	display:none;
}

.prompt-icon{
	padding-right: 10px;
}

.tagit-close{
	font-size: 1.25em;
	padding-left: 5px;
	cursor: pointer;
}

.tagit-close:hover{
	color: red;
	text-decoration: none;
}

.bootstrap-switch{
	margin-right: 15px;
}

#campaign_urn_field {
	font-weight: bold;
}

.hoverable:hover{
	font-style: italic;
	text-decoration: underline;
}
